.header {
    width: 100%;
    color: white;
    background-color: #0bae02;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header-text {
    color: white;
    padding-left: 3em;
    padding-top: 10px;
}