.header {
    width: 100%;
    color: white;
    background-color: #0bae02;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
}
.header-text {
    color: white;
    padding-top: 10px;
}
@media (max-width: 360px) {
    .header-text {
        padding-left: 10px;
        
    }
}
@media (min-width: 360px) {
    .header-text {
        padding-left: 24px;
    }
}